<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You <%= @mail_subscriber.name %>, </h1>
    <p>
        Dear <%= @mail_subscriber.name %>  <br>

         Thank you for subscribing.  You will recieve emails here, at <%=@mail_subscriber.email %>.  If you would like to unsubscribe, you can't yet.  I'll program that later.

 </p>
  </body>
</html>