<div id ="mailwrap">
	<div id="mailform">
		<h2> <strong> Join Our Mailing List </strong> </h2>
		<h3> For exclusive offers and promo codes! </h3>
	  <%= form_for (@mail_subscriber) do |f| %>
	  <div id="mailwrap_inputs">
	  	<div class="form-inputs">
		    <%= f.text_field :name, value: "Your Name", class: "form-control" %>    
		    <%= f.text_field :email, value: "Your Email", class: "string required form-control" %>

		    <%= f.submit "Join Mailing List", class: "btn btn-large btn-primary form-control"%>
		</div>
	    <% end %>
	  </div>
	</div>
</div>