<div id="news">
	<table>
	<tr class="header">
		<th> News 1 </th>
		<th> News 2 </th>
		<th> News 3 </th>

	</tr>
		<tr class="image">
			<td>
				<div id="news_image">
					<%= image_tag("tipped_1.jpg", :size => "200x200") %>
				</div>
			</td>
			<td>
				<div id="news_image">
					<%= image_tag("tipped_1.jpg", :size => "200x200") %>
				</div>
			</td>
			<td>
				<div id="news_image">
					<%= image_tag("tipped_1.jpg", :size => "200x200") %>
				</div>
			</td>
		</tr>
		<tr class="desc">
				<td>
				<div id="news_desc">
					<p>It was November. Although it was not yet late, the sky was dark when I turned into Laundress Passage. Father had finished for the day, switched off the shop lights and closed the shutters; but so I would not come home to darkness he had left on the light over the stairs to the flat. 
					</p>
				</div>
			</td>
			<td>
				<div id="news_desc">
						<p>It was November. Although it was not yet late, the sky was dark when I turned into Laundress Passage. Father had finished for the day, switched off the shop lights and closed the shutters; but so I would not come home to darkness he had left on the light over the stairs to the flat. 
					</p>
				</div>
			</td>
			<td>
				<div id="news_desc">
						<p>It was November. Although it was not yet late, the sky was dark when I turned into Laundress Passage. Father had finished for the day, switched off the shop lights and closed the shutters; but so I would not come home to darkness he had left on the light over the stairs to the flat. 
					</p>
				</div>
			</td>
		</tr>
	</table>
</div>