<div id="contentwrap">
	<div id="content">
		<div class="progress progress-striped active">
             <div class="progress-bar six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="33"></div>
              </div>
				<div id="orderform">
		    <%= render 'form' %>
		</div>
	</div>
</div>