<div id="contentwrap">
<div id="content">
	<h2> <strong> About Us </strong> </h2>
	<br>
		<p>Tipped Mixology started in 2013 by culinary school graduate Adam Berry. With help from his college friend, Patrick Sullivan, they’ve finalized a trio of creative, original, and downright tasty drink mixes that will be available for purchase in the near future. <br> <br>
		Tipped Mixology aims to put all lesser drink mixes to shame - no more will cocktail hour be tainted by a below average strawberry daiquiri or an all-too-familiar artificial margarita mix. A cocktail should be something that opens your mind to new and interesting possibilities that haven’t been seen in commercialized drink mixes, and they shouldn’t break the bank! Yes, the $13 cocktail at that expensive restaurant down the street looks and tastes amazing, but you wouldn’t buy more than one in fear of going bankrupt. Tipped Mixology makes that a thing of the past - Mixologist creativity at reasonable prices. Try one soon and tip your glass to us.</p>
</div>
</div>