<div id="contentwrap">
	<div id='content'>
	<h2><strong>FAQ section</strong></h2>
		<div class="FAQ" onclick="toggle('faq1')"><strong>
		What is the shelf life of Tipped Mixology drink mixes?</strong>
			<div id="faq1" class="FAA">  All Tipped Mixology drink mixes are shelf stable at room
	        temperature for up to two years... if you can resist them that long.
	        </div>
		</div>

		<div class="FAQ" onclick="toggle('faq2')"><strong>
		Should I refrigerate after opening, and how long is it good for after that? </strong>
			<div id="faq2" class="FAA">                Absolutely refrigerate after opening. Once you open the mix, you have 3 weeks to 	  drink it. 
		 	</div>
		</div>

		<div class="FAQ" onclick="toggle('faq3')"><strong>
		 Are Tipped Mixology drinks alcoholic? </strong>
			<div id="faq3" class="FAA">Nope! All of our drink mixes are non-alcoholic and are best enjoyed when mixed with your favorite alcohol.</div>
			</div>
		
		<div class="FAQ" onclick="toggle('faq4')"><strong>
		 Which alcohol should we use? </strong>
		 	<div id="faq4" class="FAA">Well, this one is up to you, but here’s what we recommend:<br />
            i.    Earl Gray Martini - vodka or gin <br>
            ii.   Ginger Jalapeno Margarita - tequila or mescal <br />
            iii.  Cherry Apple Old Fashioned - bourbon or other whiskey<br /></div>
			</div>
		
		<div class="FAQ" onclick="toggle('faq5')"><strong>
		  What measurements should we use for a cocktail? </strong>
		 	<div id="faq5" class="FAA">A standard cocktail is 4oz, and cocktails range drastically in the amount of liquor 
            and mix used, if any! We recommend 1.5oz of alcohol (1 shot) to 2.5oz of mix (about a shot and a half). From that point, you can adjust based on personal preference - it’s your drink after all! </div>
			</div>
		
		<div class="FAQ" onclick="toggle('faq6')"><strong>
		   Is Tipped Mixology all-natural?</strong>
		 	<div id="faq6" class="FAA">  Tipped Mixology drink mixes contain no artificial ingredients including preservatives, colors, and flavors. We only give you the good stuff.</div>
			</div>
		
		<div class="FAQ" onclick="toggle('faq7')"><strong>
		 Is Tipped Mixology gluten free? </strong>
		 	<div id="faq7" class="FAA">Tipped Mixology drink mixes are naturally gluten free, however our products are produced in a facility that handles wheat, soy, peanuts, tree nuts, eggs, and milk.</div>
			</div>
		
		<div class="FAQ" onclick="toggle('faq8')"><strong>
		 Are there more drink mixes in the works? </strong>
			 <div id="faq8" class="FAA">We are constantly looking to broaden our product portfolio, including new Tipped Mixology flavors and other product lines! Stay tuned for more information.</div>
			</div>
		<div class="FAQ" onclick="toggle('faq9')"><strong>
		    What about a Bloody Mary? </strong>
		 	<div id="faq9" class="FAA">It’s in the works... we want our drink mixes to stand out, so our development takes a lot of time. It will, however, be delicious.</div>
			</div>
		<div class="FAQ" onclick="toggle('faq10')"><strong>
		 What about a daiquiri / rum drink? </strong>
		 	<div id="faq10" class="FAA">We had a lot of drinks that didn’t make the cut of the final 3 drink mixes. These included two rum-based cocktails. They need more work, but there will be one soon. In the mean time, try our Cherry Apple Old Fashioned with dark rum to satisfy your sugarcane-based alcohol cravings.</div>
		</div>
		<div class="FAQ" onclick="toggle('faq11')"><strong>
		  I don’t get the name Picard’s Night Out. . .</strong>
		 	<div id="faq11" class="FAA">Not really a question, but here’s an answer: on Star Trek, The Next Generation, Captian Jean-Luc Picard, (played by the incredibly talented Patrick Stewart) often enjoys a tea, Earl Gray, hot. I can only imagine if the captain went out for the night with his buddies, he’d be drinking our Earl Gray Martini drink mix. <br><a>https://www.youtube.com/watch?v=R2IJdfxWtPM</a></div>
		</div> 
    <div id="faqnote"><p> Always feel free to contact us with any questions or comments through our <a href="contactus.php"> Contact Us </a>page </p>
	</div>
	</div>
</div>