	<div id="contentcontainer">
		<div id="slides"> 
			<div class="slides_container">
				<div>
					<%=image_tag("trio_1065x500.jpg") %>
				</div>
				<div>
					<%=image_tag("twodrinks.jpg") %>
				</div>
				<div>
					<%=image_tag("trio_1065x500.jpg") %>
				</div>
			</div>
		</div>
		<div id="clear70"> </div>
	    <%= render 'partials/news' %>
	</div>


