/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
 // iPhone4/s
 	@media screen and (device-aspect-ratio: 2/3) {

 	}

 // iPhone-5
	@media screen and (device-aspect-ratio: 40/71) {
		#content {
			min-width:100%;
			max-width:100%;
			margin: 0 auto;
				.FAQ{
				line-height: 150%;
				text-align:left;
				padding-left: .1em;
				}
		}
		#contentwrap{
		}
	
		.footer{
			min-width: 100%;
		}

		#faq1, #faq2, #faq3, #faq4, #faq5, #faq6, #faq7, #faq8, #faq9, #faq10, #faq11 {
			max-width:80%;
			min-width:80%;
		}
		#mailform {
			min-width: 100%;
		}
	}
	@media screen and (device-aspect-ratio: 40/71) and(orientation:landscape) {
		#darkcontainer {
			height:100px;
			img{
				height: 100%;
			}		
		}
	}
	@media screen and (device-aspect-ratio: 40/71) and (orientation:portrait) {
				#darkcontainer {
					max-width: 100%;
					min-width: 100%;
					max-height: 130px;
				
					img{
					width: 100%;
					}		
				}
				#mailform {
					input {
						width:70%;
						}
					label {
						display:block	
						// float:left;
					}
				}
	}

 // iPad
	@media screen and (device-aspect-ratio: 3/4) {

	}




@font-face {
        font-family: "Avenir Condensed";
        src: font-url('AvenirCondensedHand.ttf') format("truetype");
}
@font-face {
        font-family: "Moon Flower";
        src: font-url('Moon_Flower.ttf') format("truetype");
    }

body {
height: 100%;
}
#no_access {
	margin-top:20%
}
.navbar {
	margin-bottom:0px;
	li.items_here {
		 a {
		  &:visited {
    		color: blue;
  			}
  		  &:link {
  		  	color:blue
  			}
		}
	}
}
.hidden { display: none; }

#page {
	width:100%;
	background-color:#fff;
}
.cycle-slideshow {height:500px;
overflow:hidden;}
.slideshow { width: 70%; height: 500px; margin: auto; border: 1px solid #bbb; background: #ffc }
.slideshow img { opacity: 0; filter:alpha(opacity=0); }


#darkcontainer {
	height:200px;
	width:100%;
	border: none;


	// background-image: url('cbbg1.jpg');
	// background-size: cover;
	// background-position: bottom 100px center;
	background-color:whitesmoke;
	text-align:center;

}

#contentcontainer {
	width:100%;
   	background-image: asset-url('paperbg.jpg');


}
.navbar-default {
	margin-bottom:0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

#clear70 {
	border-top: 1px solid #eee;
	height:70px; 
	width: 100%;
	background-color: whitesmoke;
}
/*flash*/
.alert {
	display:none;
	text-align:center;
	margin-bottom:0px !important
}
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: center;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: center;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
}
