/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require mobile
 */
@import "bootstrap";



@font-face {
        font-family: "Avenir Condensed";
        src: font-url('AvenirCondensedHand.ttf') format("truetype");
}
@font-face {
        font-family: "Moon Flower";
        src: font-url('Moon_Flower.ttf') format("truetype");
    }

body {
height: 100%;
}
.tilde_spacer {
	width: 100%;
	text-align: center;
	    font-family: "Moon Flower";
	    font-size:200%

}
.navbar-brand {
	visibility:hidden;
}
#no_access {
	margin-top:20%
}
.navbar {
	margin-bottom:0px;
	li.items_here {
		 a {
		  &:visited {
    		color: blue;
  			}
  		  &:link {
  		  	color:blue
  			}
		}
	}
}
.hidden { display: none; }

#page {
	width:100%;
	background-color:#fff;
}
.cycle-slideshow {
	width:100;
}

#darkcontainer {
	height:200px;
	width:100%;
	border: none;
	text-align:center;
	img {
		position:relative;
			right:-7px;
	}

}

#contentcontainer {
	width:100%;
   	background-image: asset-url('paperbg.jpg');


}
.navbar-default {
	margin-bottom:0px;
}
.navbar-header {
	display:none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

#clear70 {
	border-top: 1px solid #eee;
	height:70px; 
	width: 100%;
	background-color: whitesmoke;
}
/*flash*/
.alert {
	display:none;
	text-align:center;
	margin-bottom:0px !important
}
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: center;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: center;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
}



