// Place all the styles related to the order_previews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
#orderform {
	width: 800px;
	margin: 0 auto;
			font-family: "Avenir Condensed";
			font-size: 150%;
			line-height: 150%;
			textarea {
				width:321px;
			}
			li {
			font-family: "Avenir Condensed";
			text-align: center;
			}
}
#shipping_table_wrap {
}
tr.shippingrow {
			width:600px;
			height:50px;
			font-family: "Avenir Condensed";
}
td.ship_col1 {
	width:300px;
	float:left;
	font-family: "Avenir Condensed";
}
td.ship_col2 {
	width:300px;
	float:right;
	font-family: "Avenir Condensed";
}
td.ship_col_full {
	width:600px;
	font-family: "Avenir Condensed";
	input {
		width:540px;
	}
}
table#shipping_info_table {
	width:600px;
	margin: 0 auto;
	text-align: center;
			font-family: "Avenir Condensed";
}