// Place all the styles related to the order_previews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}
.progress {
	height:40px !important;
} 
#orderform {
	width: 60%;
	margin: 0 auto;
			font-family: "Avenir Condensed";
			font-size: 150%;
			line-height: 150%;
			textarea {
				width:100%;
			}
			input {
				width:90%;
			}
			li {
			font-family: "Avenir Condensed";
			text-align: center;
			}
			select {
				width:90%;
				height:25px;
			}
}
tr.shippingrow {
			width:100%;
			height:50px;
			font-family: "Avenir Condensed";
}
td.ship_col1 {
	width:50%;
	float:left;
	font-family: "Avenir Condensed";
}
td.ship_col2 {
	width:50%;
	float:right;
	font-family: "Avenir Condensed";
}
td.ship_col_full {
	width:100%;
	font-family: "Avenir Condensed";
	input {
		margin-top:50px;
		width:540px;
	}
}
table#shipping_info_table {
	width:600px;
	margin: 0 auto;
	text-align: center;
	font-family: "Avenir Condensed";
}
#shipping_to_address_wrap {
	width:40%;
	float:right;
	margin-right:30px;
	overflow: hidden
}
table#shipping_to_address_table {
	width:100%;
	height:100%;
	border:1px solid #eee;
	tr.ship_row {
		height:76px;
		width: 100%;
		border: 3px solid #eee;	

	}
	td.ship_label {
		width:50px;
		height:75px;
		display:table-cell;
		text-align:right;
		vertical-align:middle;
		font-family: "Avenir Condensed";
		font-size: 150%;

	}
	td.info{
		width:120px;
		height:75px;
		display:table-cell;
		text-align:left;
		vertical-align:middle;
		font-family: "Avenir Condensed";
		font-size: 150%;
		padding-left:40px;
		position:relative;


	}
}
#shipping_products_preview_wrap {
	width:46%;
	float:left;
	margin: 0 auto;
	margin-left:40px;

}
table#shipping_products_preview {
	width:100%;

	tr.cart_ship_prev {
		border: 3px solid #eee;
		height:150px;
		margin:0px;
	}

	td.cart_ship_prev_item {
		text-align:center;
		padding:10px;
		height:100%;
		width: 50%;
		margin-left:20px;
		font-family: "Avenir Condensed";
		font-size:150%;
		line-height: 150%;
		margin:2px;

	}
	td.cart_ship_prev_price {
		width:15%;
		height:100%;
		font-family: "Avenir Condensed";
		font-size:150%;
		margin:2px;


	}
	td.cart_ship_prev_qty {
		height:100%;
		width:15%;
		vertical-align:middle;
		text-align:center;
		font-family: "Avenir Condensed";
		font-size:150%;
		margin:0px;

	}
	td.cart_ship_prev_img {
		margin:0px;
		img {
			height:150px;
			margin:0px;
		}
	}
}
#ship_to_from_wrap {
	width:100%;
	display: table;

}
#shipping_control_wrap {
width:46%;
height:auto;
display:table;
margin-left:40px;
float:left;
clear:left;
}
#shipping_option_wrapper {
	height:100px;
	width:100%;
	float:left;
		select {
		font-family: "Avenir Condensed";
		font-size:150%;
		border: 3px solid #eee;
		width:100%;
		}
		option {
		font-family: "Avenir Condensed";
		}
}
#bottom_line {
	width:100%;
	font-family: "Avenir Condensed";
	font-size:150%;
	margin-top:10px;
	float:left;
	text-align: left;
		table {
			width:100%;
			border: 3px solid  #eee;
			margin-bottom:20px;
			tr {
				border-bottom:3px solid #eee;
				height:40px;
				td {
					font-family: "Moon Flower";
					font-size: 120%;

				}
				td.op_bottom_line_left {
					margin-right:20px;
					text-align: right;
					border-right: 3px solid #eee
				}
				td.op_bottom_line_right {
					text-align: right;
					padding-right:10px;

				}

			}
		}
}
#pay_button_center {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	height:45px;
	width:100%;
	float:left;
	text-align:center;
}
#submit_to_stripe_button {
	width:100%;
	float:left;
	margin-top:10px;
	margin-bottom: 40px;

		input {
			height:50px;
			width:100%;
			text-align:center;	
		}
}